* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  color: #141414;
  background-color: #fafafa;
}

button {
  font-size: 400%;
  font-weight: 500;
  color: black;
  border: none;
  background-color: transparent;
}

.page-container {
  margin: auto;
}

.tabbed-views {
  position: relative;
  min-width: 450px;
  min-height: 250px;
  border: 4px solid black;
}

.buttons-container {
  display: flex;
  width: 100%;
  height: 20%;
  top: 40%;
  position: absolute;
  justify-content: space-between;
}

.tab-container {
  display: flex;
  width: 100%;
  height: 10%;
  top: 88%;
  position: absolute;
  justify-content: center;
}

.tab {
  width: 15px;
  height: 15px;
  margin: 0.5rem;
  padding: 0.35rem;
  border: 4px solid black;
  border-radius: 50%;
  cursor: pointer;
  background-color: #f0f0f0;
}

.tab.active {
  background-color: #808080;
}

.view-container {
  display: flex;
  width: 750px;
  height: 450px;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 4px 4px 8px 0.5;
}

.shield {
  width: 100%;
  padding: 15%;
}

.hidden {
  display: none;
}
